<div class="xl:container mx-auto px-8 bg-gray-50 flex flex-col h-full">
  <header class="flex items-center justify-between text-lg py-4 mb-4">
    <div class="font-medium">My Bookings</div>
    <div class="pl-3 border-l-2">
      <div class="flex items-center justify-center bg-yellow-300 text-white w-10 h-10 rounded-full">
        W
      </div>
    </div>
  </header>

  <div class="board">
    <div class="board-wrapper">
      <ng-template [ngIf]="!loading" [ngIfElse]="loadingBlock">
        <div class="board-columns" cdkDropListGroup>
          <div class="board-column bg-gray-100 p-4" *ngFor="let column of board.columns">
            <div class="mb-5 font-medium uppercase text-gray-800">
              {{ column.title }}
            </div>
            <div
              cdkDropList
              [cdkDropListData]="column.bookings"
              (cdkDropListDropped)="drop($event)">
              <div
                class="py-4 px-3 bg-white border-b rounded-md mb-4 shadow-md cursor-pointer hover:shadow-blue-200 hover:shadow-lg"
                *ngFor="let item of column.bookings"
                cdkDrag>
                <div class="flex justify-between text-xs mb-2">
                  <div class="flex flex-col text-gray-500">
                    <div class="font-medium">Booking ID:</div>
                    <div>{{item.id}}</div>
                  </div>
                  <div class="flex">
                    <mat-icon class="text-red-500">flag</mat-icon>
                    <div class="flex flex-col">
                      <div
                        class="font-medium rounded-md px-3 py-1.5 ml-3 mb-3 self-end"
                        [ngClass]="[item.status === 'Files Rejected' ? 'bg-red-100 text-red-600' : '', item.status === 'Files Submitted' ? 'bg-sky-100 text-sky-600' : '']">
                        {{item.status}}
                      </div>
                      <div
                        class="font-medium rounded-md px-3 py-1.5 ml-3 self-end"
                        [ngClass]="['bg-green-100', 'text-green-600']">
                        {{item.price | currency}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex items-center">
                  <img class="w-12 h-12 rounded-full bg-green-100 object-cover" [src]="item.avatar" alt="">
                  <div class="ml-3 w-full overflow-x-hidden">
                    <div class="font-medium truncate">{{item.name}}</div>
                    <div class="text-gray-500 text-xs over truncate">{{item.title}}</div>
                  </div>
                </div>
                <div class="flex items-center justify-between mt-6">
                  <div class="flex">
                    <div>
                      <div class="font-medium">{{item.bookingDate | date}}</div>
                      <div class="text-xs text-gray-500">Booking Date</div>
                    </div>
                    <div class="ml-6">
                      <div class="font-medium">{{item.livingDate | date}}</div>
                      <div class="text-xs text-gray-500">Live Date</div>
                    </div>
                  </div>
                  <div>
                    <mat-icon *ngFor="let icon of item.icons" class="text-red-500 ml-2">{{icon}}</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-template>
      <ng-template #loadingBlock>
        <div class="flex items-center justify-center w-full">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>

  </div>

</div>
